.Tab {
    flex: 1 1 auto;
    cursor: pointer;
    outline: none;

    @apply rounded-lg;
    @apply hover:bg-mediumGrey;
    @apply transition-colors duration-200;
}

.Tab > div {
    position: relative;

    width: fit-content;
    margin: 0 auto;

    @apply py-5;
}

.Tab > div::after {
    content: "";
    display: block;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    width: 0;
    height: 2px;
    @apply bg-blue-500;
}

.Tab[data-headlessui-state="selected"] > div::after {
    width: 100%;
}