.Button {
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;

    @apply gap-x-2.5;

    @apply font-medium;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    height: 48px;
    transition: background-color 60ms;
}

.Small {
    padding: 0 1rem; /* 16px */
}

.Large {
    width: 318px;
}