.Layout {
    width: 100vw;
    padding-left: 17.5rem;
}

.LayoutNavWrapper {
    position: fixed;
    height: 100vh;
    left: 0;
}

.LayoutContent {
    min-height: 100vh;
    overflow: auto;
}