.PartyOptionsContainer {
  font-family: 'Montserrat', sans-serif;
  flex: 1 0 auto;
  width: fit-content;
}

.Header {
  position: relative;
  display: inline-block;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.ButtonsContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 51.4rem;
}

.PartyOption {
  height: 15.313rem;
  width: 15.625rem;
  font-size: 1.5rem;
  padding: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.PartyOption:hover {
  background-color: var(--blue-100);
}

.PartyOption input {
  display: none;
}

.Icon {
  margin-bottom: 3rem;
}


