.TimeZoneContainer {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 48.5rem;
}

.Header {
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.SubHeader {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.Question {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.Options {
  width: rem;
}

.Option {
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.Option input[type='radio'] {
  height: 2rem;
  width: 2rem;
  padding: 14px;
  border-radius: 5px;
  background-color: #161616;
  border: 1px solid #e2e4e9;
  margin-right: 4.75rem;
  appearance: none;
}

.Option input[type='radio']:checked {
  background-color: #d9d9d9;
}

.Next {
  position: fixed;
  left: 82.875rem;
  bottom: 4rem;
  width: 7.5rem;
  height: 2.75rem !important;
}
