.ColorWheel {
    position: relative;
    width: 206px;
    height: 206px;
}

.ColorWheel::after {
    display: block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 6rem;
    height: 6rem;

    border-radius: 50%;
    background: #161616;
    content: "";
}

.Handle {
    position: absolute;
    top: 0;
    left: 0;

    width: 2rem;
    height: 2rem;
    border-radius: 50%;

    border: 1px solid #eee;
    background: #fff;
}