.BuddyFinderContainer {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.PartyFinder{
    position: relative;
    width: 16.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1rem;
    left: 4.75rem;
    margin-top: 4rem;
    text-decoration: none;
}

.PartyFinder:visited {
    color: #000000;
}

.BackArrow {
    margin-right: .75rem;
    cursor: pointer;
}

.Next {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
    left: 82.875rem;
    bottom: 4.5rem;
    cursor: pointer;
}

.Next:visited {
    color: #000000;
}

.Back {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: underline;
    left: 38.5rem;
    bottom: 4.5rem;
    cursor: pointer;
}

.Back:visited {
    color: #000000;
}