.BuddyFinderContainer {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.PartyFinder {
  position: relative;
  width: 16.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1rem;
  left: 4.75rem;
  margin-top: 4rem;
  text-decoration: none;
}

.BackArrow {
  margin-right: 0.75rem;
  cursor: pointer;
}

.BackIcon:hover {
    fill:var(--blue-100)
}

.BackIcon:active {
  fill:var(--blue-90)
}

.Next {
  position: fixed;
  width: 7.5rem;
  height: 2.75rem;
  left: 82.875rem;
  bottom: 4rem;
  z-index: 2;
}

.Back {
  position: fixed;
  left: 41.5rem;
  bottom: 4rem;
  cursor: pointer;
  width: 7.5rem;
  height: 2.75rem;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}
