.Games {
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3.125rem;
  width: 100%;
}

.Game {
  font-size: 1rem;
  font-weight: 600;
  height: 5.625rem;
  width: 47.6%;
  display: flex;
  margin-bottom: 3.125rem;
  border-radius: 10px;
}

.GameContent {
  width: 65.25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1.5rem;
}

.GameImg {
  height: 5.375rem;
  width: 34.75%;
  border-radius: 10px 0px 0px 10px;
  background-color: var(--black);
}

.Game input[type='checkbox'] {
  height: 0;
  width: 0;
  display: none;
}

.Game input[type='text'] {
  font-weight: 600;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #efefef;
  border: none;
}
