@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-blue {
    --color-primary-90: #91AFEB;
    --color-primary-100: #4567BF;
    --color-primary-110: #7090D8;
    --color-primary-120: #324EA4;
}

.theme-dark {
    --primaryBg: #000000;
    --secondaryBg: #181818;
    --neutralBg: #242424;
    --textColor: #E2E4E9;
}