.side-nav {
  height: 1080px;
  width: 280px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 29px;
  margin-top: 31px;
}

.header h1 {
  padding-left: 21px;
}

.menu-words {
  font-size: 16px;
  font-weight: 600;
}

.bell {
  width: 24px;
  height: 24px;
}

.avatar-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}

.avatar {
  width: 64px;
  height: 64px;
  background-color: #D9D9D9;
  border-radius: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.menu a {
  padding-left: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.menu a span {
  padding-left: 20px;
}

.icon {
  width: 40px;
  height: 40px;
}


.white-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 516px;
}

.gray-section {
  color: #FEFEFE;
  background-color: #616161;
  height: 516px;
  display: flex;
  flex-direction: column;
}

.gray-section h1 {
  padding-left: 29px;
  padding-top: 39px;
  margin: 0;
  font-size: 20px;
  display: flex;
  align-items: baseline;
}

.gray-section h1 span {
  padding-left: 10px;
  font-size: 16px;
}

.gray-section ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
}

.gray-section ul li {
  display: flex;
  align-items: center;
  padding-left: 29px;
}

.gray-section ul li span {
  padding-left: 10px;
}

.friends-avatar {
  height: 59px;
  width: 59px;
}

.user-avatar {
  height: 59px;
  width: 59px;
}

.black-section {
  color: #FFFFFF;
  background-color: #272727;
  height: 48px;
}

.black-section div {
  padding-left: 29px;
}

.black-section div div {
  padding-left: 10px;
}

.expand{
  width: 24px;
  height: 24px;
}

.status-container {
  display: flex;
  align-items: center;
}

.status-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}