@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-blue {
    --color-primary-90: #91AFEB;
    --color-primary-100: #4567BF;
    --color-primary-110: #7090D8;
    --color-primary-120: #324EA4;
}

.theme-dark {
    --black: #161616;
    --darkGrey: #181818;
    --grey: #373737;
    --mediumGrey: #242424;
    --greyText: #8D8B8B;
    --textColor: #E2E4E9;
    --white: #FFFFFF;
}