.honorOfConduct {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat';
  position: relative;
  left: 24rem;
  width: 49rem;
  top: 6rem;
}

.body {
  position: relative;
  font-weight: 400;
  font-size: 1.25em;
  margin-top: 1.5rem;
}

.checkbox {
  font-size: 1.25rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-top: 4.5rem;
}

.checkbox input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
  border-radius: 5px;
  margin-right: 3rem;
}

.checkbox input[type='checkbox']:checked {
  height: 2rem;
  width: 2rem;
  margin-right: 3rem;
  z-index: 2;
}

.Box {
  position: absolute;
  border-radius: 5px;
  height: 2rem;
  width: 2rem;
  margin: 0;
  z-index: 1;
}

.header {
  font-size: 2.25em;
  font-weight: 600;
  position: relative;
}

.showWarning {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 150%;
  width: 48.563rem;
  position: relative;
  margin-top: 3rem;
  font-style: italic;
  margin-bottom: 139px;
}

.hideWarning {
  font-weight: 300;
  font-size: 1.25rem;
  width: 48.563rem;
  position: relative;
  font-style: italic;
  opacity: 0;
}

.Next {
  position: fixed;
  left: 82.875rem;
  bottom: 4rem;
  width: 7.5rem;
  height: 2.75rem;
}
