.honorOfConduct {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
}

.partyFinder {
    display: flex;
    align-items: center;
    align-self: flex-start;
    font-weight: 600;
    width: 16.375em;
    height: 2.563em;
    font-size: 24px;
    position: relative;
    left: 76px;
}

.swordCross {
    margin-left: 22px;
    margin-right: 13px;
}

.body {
    position: relative;
    left: 338px;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 150%;
    width: 777px;
}

.checkbox {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 150%;
    width: 48.563em;
    position: relative;
    left: 338px;
}

.checkbox label input {
    height: 49px;
    width: 49px;
    margin-right: 32px;
}

.checkbox label {
    display: flex;
    align-items: center;
}

.header {
    font-size: 2.25em;
    margin-top: 95px;
    position: relative;
    left: 338px;
}

.showWarning {
    font-weight: 300;
    font-size: 1.25em;
    line-height: 150%;
    width: 48.563em;
    position: relative;
    left: 419px;
    top: 51px;
    font-style: italic;
    margin-bottom: 139px;
}

.hideWarning{
    font-weight: 300;
    font-size: 1.25em;
    line-height: 150%;
    width: 48.563em;
    position: relative;
    left: 419px;
    top: 51px;
    font-style: italic;
    margin-bottom: 139px;
    opacity: 0;
}

.next {
    position: relative;
    left: 1327px;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
    cursor: pointer;
    line-height: 29px;
}