.InputContainer {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    @apply font-medium;
    @apply text-base;
    @apply bg-mediumGrey;
    @apply py-3;
    @apply px-4;
    @apply rounded-lg;
}

.Input {
    background: none;
    outline: none;

    @apply flex-grow;
}

.Input::placeholder {
    color: var(--greyText);
    opacity: 1; /* for firefox */
}