@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.notificationsWidgetContainer {
    font-family: 'Poppins', sans-serif;
    width: 46.563rem;
    height: 25rem;
    background-color: #FDFDFD;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .625rem;
    margin: 20px;
}

.contentContainer {
    height: 16.75rem;
    width: 40.625rem;
    display: flex;
    justify-content: space-between;
}

.serverContentContainer {
    display: flex;
    flex-wrap: wrap;
    width: 16.25rem;
    justify-content: space-between;
}

.serverContainer {
    transition: .8s;
    margin-bottom: .313rem;
}

.serverContainer:hover {
    transform: scale(1.02);
}

.serverImg {
    width: 7.5rem;
    height: 5.375rem;
}

.serverName {
    color: black;
    font-weight: 600;
    margin-top: .4rem;
    font-size: 1rem;
}

.serverUpdate {
    color: black;
    font-size: .75rem;
    line-height: .625rem;
}

.notificationContentContainer {
    
}

.titleContainer {
    color: black;
    width: 40.625rem;
    cursor: pointer;
    transition: .8s;
}

.titleContainer:hover {
    transform: scale(1.02);
}

.titleContainer h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.titleContainer h2 {
    font-weight: 600;
    font-size: 1rem;
}