@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.Container {
  font-family: 'Poppins', sans-serif;
  width: 22.625rem;
  height: 4.625rem;
  background-color: #bfbfbf;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.IconContainer {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Icon {
  color: black;
  height: 1.875rem;
  width: 1.875rem;
  margin-right: 0.313rem;
}

.MessageContainer {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 130%;
}

.Message {
  color: black;
}

.Timestamp {
  color: #434343;
  font-size: 0.875rem;
}

.PartySizeContainer {
  width: 12%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.PartySize {
  color: black;
  font-weight: 600;
  font-size: 0.875rem;
}
