@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.NotificationsWidgetContainer {
    font-family: 'Poppins', sans-serif;
    width: 46.563rem;
    height: 25rem;
    background-color: #FDFDFD;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .625rem;
    margin: 20px;
}

.ContentContainer {
    height: 16.75rem;
    width: 40.625rem;
    display: flex;
    justify-content: space-between;
}

.ServerContentContainer {
    display: flex;
    flex-wrap: wrap;
    width: 16.25rem;
    justify-content: space-between;
}

.ServerContainer {
    transition: .8s;
    margin-bottom: .313rem;
}

.ServerContainer:hover {
    transform: scale(1.02);
}

.ServerImg {
    width: 7.5rem;
    height: 5.375rem;
}

.ServerName {
    color: black;
    font-weight: 600;
    margin-top: .4rem;
    font-size: 1rem;
}

.ServerUpdate {
    color: black;
    font-size: .75rem;
    line-height: .625rem;
}

.NotificationContentContainer {
    
}

.TitleContainer {
    color: black;
    width: 40.625rem;
    cursor: pointer;
    transition: .8s;
}

.TitleContainer:hover {
    transform: scale(1.02);
}

.TitleContainer h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

.TitleContainer h2 {
    font-weight: 600;
    font-size: 1rem;
}