@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.PartyFinderContainer {
  display: flex;
  font-family: 'Montserrat', sans-serif;
}

.PartyFinder{
    position: relative;
    width: 16.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1rem;
    left: 4.75rem;
    margin-top: 4rem;
}

.BackArrow {
    margin-right: .75rem;
    cursor: pointer;
}
