.ProfileCardContainer {
    font-family: 'Montserrat', sans-serif;
    height: 40rem;
    width: 25rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Avatar {
    height: 12.375rem;
    width: 12.375rem;
    border-radius: 100%;
    background-color: #777777;
    margin-top: 2rem;
}

.Username {
    font-weight: 500;
    font-size: 1.5rem;
}

.Tags {
    width: 22rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 0.813rem;
}



.Button {
    height: 2.75rem;
    width: 20rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
