.ProfilePreviewContainer {
  font-family: 'Montserrat', sans-serif;
  width: 79.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 7rem;
  margin-top: 3rem;
}

.TitleContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Reroll{
  font-weight: 500;
  font-size: 1rem;
  width: 7.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem;

}


.TitleContainer h1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0;
}

.TitleContainer h2 {
  font-size: 1rem;
  font-weight: 600;
}

.ServersContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}


.Vector {
  height: 1.5rem;
  width: 1.5rem;
}