.ProfileCardContainer {
    font-family: 'Montserrat', sans-serif;
    height: 40rem;
    width: 25rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.Avatar {
    height: 12.375rem;
    width: 12.375rem;
    border-radius: 100%;
    background-color: #777777;
    margin-top: 2rem;
}

.Username {
    font-weight: 500;
    font-size: 1.5rem;
}

.Tags {
    width: 21rem;
    display: flex;
    flex-wrap: wrap;
    gap:.4rem;
}

.Tag {
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 20px;
    padding: .5rem .75rem;
    display: inline-block;
    margin-bottom: .875rem;
    margin-top: 0;
    background-color: #373737;
}

.GradientBorder {
    border: 2px solid transparent;
    background: linear-gradient(#373737, #373737) padding-box, linear-gradient(to right, rgba(237,111,166,100%), rgba(69,103,191,100%), rgba(121,220,222,100%), rgba(248,219,111,100%)) border-box;
}

.Button {
    height: 2.75rem;
    width: 20rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}
