@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.sidenav {
  height: 100vh;
  width: 17.5em;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.813em;
  margin-top: 1.938em;
}

.header h1 {
  padding-left: 1.313em;
}

.homeTabWord,
.partyFinderTabWord,
.communityTabWord,
.forYouTabWord {
  font-size: 1em;
  font-weight: 600;
  padding-left: 1.813em;
}

.logoWord {
  font-size: 1em;
  font-weight: 600;
}

.bell {
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  padding-right: 1.438em;
}

.avatarDiv {
  display: flex;
  align-items: center;
  width: 50%;
}

.avatar {
  width: 4em;
  height: 4em;
  background-color: #D9D9D9;
  border-radius: 1.25em;
}

.menu {
  padding-top: 1.563em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.homeTab,
.partyFinderTab,
.communityTab,
.forYouTab {
  cursor: pointer;
  padding-left: 1.813em;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.homeIcon,
.partFinderIcon,
.communityIcon,
.forYouIcon {
  width: 2.5em;
  height: 2.5em;
}


.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  background-color: #272727;
  border-radius: 6.25em;
}

.notSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 3.5em;
  background-color: white;
  border-radius: 6.25em;
}

.Sidenav_icon {
  width: 2.5em;
  height: 2.5em;
}


.whiteSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 43%;
}

.graySection {
  color: #FEFEFE;
  background-color: #616161;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  height: 48%;
}

.graySection h1 {
  margin: 0;
  margin-left: 1.813em;
  margin-top: 2.438em;
  margin-bottom: 2.125em;
  font-size: 1.25em;
  display: flex;
  align-items: baseline;
}

.graySection h1 span {
  padding-left: 0.625em;
  font-size: 1em;
}

.graySection ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

.graySection ul li {
  display: flex;
  align-items: center;
  padding-left: 1.813em;
  padding-bottom: 1.25em;
}

.graySection ul li span {
  padding-left: 0.625em;
}

.friendsAvatar {
  background-color: white;
  border-radius: 50%;
  height: 3.688em;
  width: 3.688em;
}

.userAvatar {
  background-color: white;
  border-radius: 50%;
  height: 3.688em;
  width: 3.688em;
  margin: 0em 1.5em;
}

.blackSection {
  color: #FFFFFF;
  background-color: #272727;
  height: 9%;
}

.Sidenav_expand {
  width: 1.5em;
  height: 1.5em;
}

.statusContainer {
  display: flex;
  align-items: center;
}

.userNameContainer {
  display: flex;
  margin: 1.5em 0em;
  flex-direction: column;
  align-items: flex-start;
}

.userName {
  text-indent: 0.25em;
}

.status {
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background-color: #272727;
  border: none;
  border-style: none;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-indent: 0em;
  width: 5em;
}

.statusOnline {
  width: 1.063em;
  height: 1.063em;
  background-color: #23A55A;
  border-radius: 50%;
  position: relative;
  top: 2.5em;
  left: 2.813em;
}

.statusIdle {
  width: 1.063em;
  height: 1.063em;
  background-color: #F0B232;
  border-radius: 50%;
  position: relative;
  top: 2.5em;
  left: 2.813em;
}

.statusOffline {
  width: 1.063em;
  height: 1.063em;
  background-color: #81848E;
  border-radius: 50%;
  position: relative;
  top: 2.5em;
  left: 2.813em;
}