@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.sidenav {
  height: 1080px;
  width: 280px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 29px;
  margin-top: 31px;
}

.header h1 {
  padding-left: 21px;
}

.homeTabWord {
  font-size: 16px;
  font-weight: 600;
  padding-left: 29px;
}

.partyFinderTabWord {
  font-size: 16px;
  font-weight: 600;
  padding-left: 29px;
}

.communityTabWord {
  font-size: 16px;
  font-weight: 600;
  padding-left: 29px;
}

.forYouTabWord {
  font-size: 16px;
  font-weight: 600;
  padding-left: 29px;
}

.logoWord {
  font-size: 16px;
  font-weight: 600;
}

.bell {
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding-right: 23px;
}

.avatarDiv {
  display: flex;
  align-items: center;
  width: 50%;
}

.avatar {
  width: 64px;
  height: 64px;
  background-color: #D9D9D9;
  border-radius: 20px;
}

.menu {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
}

.homeTab {
  cursor: pointer;
  padding-left: 29px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.partyFinderTab {
  cursor: pointer;
  padding-left: 29px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.communityTab {
  cursor: pointer;
  padding-left: 29px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.forYouTab {
  cursor: pointer;
  padding-left: 29px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.homeIcon,
.partFinderIcon,
.communityIcon,
.forYouIcon {
  width: 40px;
  height: 40px;
}


.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: #272727;
  border-radius: 100px;
}

.notSelected {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: white;
  border-radius: 100px;
}

.Sidenav_icon {
  width: 40px;
  height: 40px;
}


.whiteSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 478px;
}

.graySection {
  color: #FEFEFE;
  background-color: #616161;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.graySection h1 {
  margin: 0;
  margin-left: 29px;
  margin-top: 39px;
  margin-bottom: 34px;
  font-size: 20px;
  display: flex;
  align-items: baseline;
}

.graySection h1 span {
  padding-left: 10px;
  font-size: 16px;
}

.graySection ul {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 400px;
}

.graySection ul li {
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-bottom: 20px;
}

.graySection ul li span {
  padding-left: 10px;
}

.friendsAvatar {
  background-color: white;
  border-radius: 50%;
  height: 59px;
  width: 59px;
}

.userAvatar {
  background-color: white;
  border-radius: 50%;
  height: 59px;
  width: 59px;
  margin: 0px 24px;
}

.blackSection {
  color: #FFFFFF;
  background-color: #272727;
}

.Sidenav_expand {
  width: 24px;
  height: 24px;
}

.statusContainer {
  display: flex;
  align-items: center;
}

.userNameContainer {
  display: flex;
  margin: 24px 0px;
  flex-direction: column;
  align-items: flex-start;
}

.userName {
  text-indent: 4px;
}

.status {
  cursor: pointer;
  outline: none;
  color: #FFFFFF;
  background-color: #272727;
  border: none;
  border-style: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-indent: 0px;
  width: 80px;
}

.statusOnline{
  width: 17px;
  height: 17px;
  background-color: #23A55A;
  border-radius: 50%;
  position: relative;
  top: 40px;
  left: 45px;
}

.statusIdle{
  width: 17px;
  height: 17px;
  background-color: #F0B232;
  border-radius: 50%;
  position: relative;
  top: 40px;
  left: 45px;
}

.statusOffline{
  width: 17px;
  height: 17px;
  background-color: #81848E;
  border-radius: 50%;
  position: relative;
  top: 40px;
  left: 45px;
}