@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.SignInPage{
    font-family: 'Montserrat', sans-serif;
    background-color: #D9D9D9;
    margin: 0;
}

.SignInContainer {
    width: 38%;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Logo {
    width: 5.313rem;
    height: 5.313rem;
    border-radius: 20px;
    position: absolute;
    left: 4rem;
    top: 4.876rem;
    background-color: #D9D9D9;
}

.SignInHeader {
    width: 24.375rem;
    margin-bottom: 1.75rem;
}

.SignInHeader h1 {
    font-size: 3rem;
    font-weight: 600;
}

.SignInHeader h3 {
    font-size: 1.25rem;
    font-weight: 500;
}

.SignInButtons {
    width: 24.375rem;
    
}

.SignInButtons button {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F4F4;
    width: 100%;
    height: 3.75rem;
    border-radius: 10px;
    font-size: 1.25rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    cursor: pointer;
} 

.SignInButtons button:hover {
    background-color: #C7C7C7;
}

.SignInDivider {
   margin-top: 4rem;
}

.Line {
    background-color: #C7C7C7;
    height: 1px;
    width: 23.5rem;
    top: 20px;
    text-align: center;
    line-height: 0.1em;
}

.Line span {
    background-color: #FFFFFF;
    padding:0 2rem; 
}

.CreateAccount {
    margin-top: 2rem;
    text-decoration: underline;
    cursor: pointer;
}