.TimeZoneContainer {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 48.5rem;
  top: 3rem;
  left: 20.75rem;
}

.Header {
  font-size: 2.25rem;
  font-weight: 600;
}

.SubHeader {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.Question {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.Options {
    margin-top: 5.5rem;
    width: rem;
}

.Option {
    font-size: 1.25rem;
    font-weight: 400; 
    display: flex;
    align-items: center;
    margin-left: 3.125rem;
    margin-bottom: 2.5rem;
}

.Option input[type=radio] {
    height: 2rem;
    width: 2rem;
    padding: 14px;
    border-radius: 5px;
    background-color: #161616;
    border: 1px solid #E2E4E9;
    margin-right: 4.75rem;
    appearance: none;
}

.Option input[type=radio]:checked {
    background-color: #324EA4;
}

.Next {
  position: fixed;
  left: 82.875rem;
  bottom: 4rem;
  width: 7.5rem;
  height: 2.75rem !important;
}